name: Scrape
on:
  schedule:
    - cron: 23 20 * * * # randomly selected
  workflow_dispatch:
permissions: {}
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false
jobs:
  scrape:
    name: Scrape
    runs-on: ubuntu-latest
    permissions:
      contents: write # needed to `git push` updated datfiles
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: true
      - name: Set Git Identity
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version-file: ".scraper/.python-version"
      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
      - name: Install the project
        run: uv sync --locked --all-extras --dev
        working-directory: .scraper

      - name: Scrape
        run: uv run main.py --clean ..
        working-directory: .scraper

      - name: Add, Commit, Push
        run: |
          git add --all
          git commit --message "chore: scrape"
          git push
